.aboute_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;


}

.banner {
    width: 99%;


}

.text {
    width: 100%;
    font-size: 18px;
}


.gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  

}



@media (max-width: 576px) {

    .banner {
        display: none;
    }


    .aboute_container {

        text-align: center;

    }

    .text {

        padding: 0px 5px;
    }


    .gallery {

        align-items: center;


    }


}