



.contact_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    
  
}

.banner {
    width: 99%;


}


.gallery
{
width: 100%;
height: auto;
display: flex;
flex-wrap: wrap;
align-items: start;
/* justify-content: center; */
/* background-color: aqua; */

}



@media (max-width: 576px) {

    .banner {
        display: none;
    }


    .contact_container {

        text-align: center;

    }

    .text {

        padding: 0px 5px;
    }




}