.home_container {

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}

.Sizes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_container,
.image__mobile_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
}

.image_container img,
.image__mobile_container img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.video_container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_container iframe,
.video_desktop,
.video_mobile {
  width: 650px;
  height: 450px;
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
  .image_container img,
  .image__mobile_container img {
    width: 100%;
    height: 400px;
  }

  .video_container iframe,
  .video_desktop,
  .video_mobile {
    width: 450px;
    height: 320px;
  }
}



@media (max-width: 576px) {


  .home_container {

  width: 100%;
  height: auto;
 
}

.image_container img,
.image__mobile_container img {
  width: 100%;
  height: 400px;
}

.video_container iframe,
.video_desktop,
.video_mobile {
  width: 100%;
  height: 320px;
}



}
