

.footer
{
    width: 100%;
     height: 300px;  
   color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  


    

}

.footer_container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}




.social_media
{

    width:300px;
    display: flex;
    justify-content: space-around;

}

.link
{
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    color: black;
    

}


#link
{
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    color: black; 
}

.link_facebook:hover
{
color:#4267B2;
transform: translateY(-5px);
transition: 0.3s;
}

.link_instagram:hover
{
color:#E1306C;;
transform: translateY(-5px);
transition: 0.3s;
}

.link_youtube:hover
{
color:#FF0000;
transform: translateY(-5px);
transition: 0.3s;
}

.copyright
{
    font-size: 16px;
}



/* media */



    .mobile_footer 
    { 
        width: 100vw;
       color: white;
        display: flex;
        position: absolute;
        bottom: -180px;
        justify-content: center;
        align-items: center;
        right: 0;
        height: auto;
   

      
        /* height:calc(100% - (100px + 300px)) ;
        height: -moz-calc(100% - (100px + 300px));
        height: -webkit-calc(100% - (100px + 300px)); */
     
      
   
     } 
  
     


