@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
/* body, html { */
    /* margin: 0; */
    /* padding:0; */
    /* background-color: black; */
    /* width: 100%; */
    /* height: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* position: relative; */
/*  */
  /* } */
  


  

  body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* bunlari sil */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}